# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distributions
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/

# Environment variables
.env

# Testing and formatting
.pytest_cache/
.ruff_cache/
.coverage

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project specific
chroma_db/

# Data
data/**/*.pdf
data/*.pdf

# LLM Semantic Cache
.cache/

# Project instructions
improvement.md
improvementv2.md
improvementv3.md
instructions.md
data/messages.db
All_Whispers_message/
old_chroma_db/
old_data/
